<!DOCTYPE html>
<html>
    <head>
        <title>Pi Calculator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>