<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="microsoftClientId" value="" />
  <add key="microsoftClientSecret" value="" />
  <add key="twitterConsumerKey" value="" />
  <add key="twitterConsumerSecret" value="" />
  <add key="facebookAppId" value="" />
  <add key="facebookAppSecret" value="" />
  <add key="ipInfoDbKey" value="" />
  <add key="BingMapsKey" value="" />
</appSettings>