<connectionStrings>
  <add name="SignalR-Backbone"
       connectionString="Server=172.19.211.170;Database=SignalR;User Id=sa;Password=DockerCon!!!"
       providerName="System.Data.SqlClient"/>
  <add name="Audit-DB"
       connectionString="Server=172.19.209.43;Database=AuditDB;User Id=sa;Password=DockerCon!!!"
       providerName="System.Data.SqlClient"/>
</connectionStrings>