<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="5.4.0" targetFramework="net452" />
  <package id="NATS.Client" version="0.7.1" targetFramework="net452" />
  <package id="NEST" version="5.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="prometheus-net" version="1.3.5" targetFramework="net452" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net452" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net452" />
</packages>