<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ProductLaunchDb" providerName="System.Data.SqlClient" connectionString="Server=172.20.244.163;Database=ProductLaunch;User Id=sa;Password=NDC_l0nd0n;"/>
  </connectionStrings>
</configuration>